* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

html {
    font-size: 62.5%;
}

.header {
    display: flex;
    background-color: rgb(31, 35, 37);
    width: 100%;
    height: 20%;
    justify-content: flex-start;
}

.header .titleContainer {
    display: flex;
    justify-content: space-between;
}

.titleContainer {
    width: inherit;
}

.header h2 {
    margin: 1.5rem;
    display: flex;
    font-size: 2.5rem;
    color: rgb(243, 239, 5);
}

.header h3 {
    margin: 1.5rem;
    padding-top: 0.2rem;
    display: flex;
    font-size: 2rem;
    
}

.header a {
    color: rgb(243, 239, 5);
    text-decoration: none;
}

.logo {
    display: flex;
}

.logoImage {
    width: 5rem;
    margin: 0.5rem;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.mainSinapsis {
    width: 40%;
    height: 80%;
    margin: 5%;
}

.mainSinapsis h1 {
    margin: 3rem;
    font-size: 7rem;
}

.mainSinapsis p {
    margin: 2rem;
    font-size: 2rem;
}

.workArea {
    width: 40%;
    height: 80%;
    margin: 3% 5%;
}

.calculadoraFiguras {
    width: 90%;
    margin: 2.5%;
    border: solid 0.3rem rgb(31, 35, 37);
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
}

.calculadoraFiguras h2 {
    margin: 2rem auto;
    font-size: 2rem;
}

.formCalculadora {
    display: flex;
    flex-direction: column;
}

.labelCalculadora {
    margin: 1rem auto;
    font-size: 1.5rem;
}

#inputCuadrado {
    margin: 1rem 5rem;
    height: 3rem;
    text-align: center;
    border: solid 0.2rem rgb(31, 35, 37);
    border-radius: 3rem;
}

.boton1 {
    margin: 1rem auto;
    height: 4rem;
    width: 20rem;
    border: solid 0.2rem rgb(31, 35, 37);
    border-radius: 3rem;
    background-color: rgb(31, 35, 37);
    color: rgb(243, 239, 5);
}

.boton1:hover {
    cursor: pointer;
    background-color: rgb(243, 239, 5);
    color: rgb(31, 35, 37);
}

.boton2 {
    margin: 1rem auto 2rem auto;
    height: 4rem;
    width: 20rem;
    border: solid 0.2rem rgb(31, 35, 37);
    border-radius: 3rem;
    background-color: rgb(31, 35, 37);
    color: rgb(243, 239, 5);
}

.boton2:hover {
    cursor: pointer;
    background-color: rgb(243, 239, 5);
    color: rgb(31, 35, 37);
}

#respuestaCuadrado {
    margin: 0 auto;
    height: 3rem;
    font-size: 1.5rem;
}